<?xml version="1.0" encoding="utf-8"?>

<launch>

  <!-- Name of the world -->
  <arg name="world" default="robocup14_spl_field" />

  <include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
    <arg name="world_file" default="/usr/share/gazebo-11/worlds/$(arg world).world" />
  </include>

  <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" />
</launch>
